html{
	min-height: 100%;
 	position: relative;
}
.header{
	height: 70px;
	width: 100%;
	background-color:rgb(97, 61, 8);
	position:relative;

}
.nonline{
    text-decoration: none;
}
.top{
	display: flex;
	height: 70px;
	justify-content: space-between;
	margin: 0 30px;
}
.header_log{
	display: flex;
	height: 70px;


}
.search input[type="text"] {
	width: 180px;
	height: 40px;
	font-size: medium;
	border-radius: 3px;
}
.search{
	display: contents;
	align-items: center;
}
.area_search{
	margin-top: 15px;
}
.keyword{
	margin-left: 5px;
	margin-top: 15px;
}
.btn{
	display: none;
}
.unsign-menus{
	display: flex;
	margin-top: 25px
}
.login{
    color: #fff;
    font-size: medium;
    margin-right: 15px;
    padding: 13px;
    border-radius: 5px;
    background-color: rgb(137, 158, 250);
}
.login:hover{
    background-color: blue;
}
.new{
    font-size: medium;
    margin-right: 30px;
    padding: 13px;
    border-radius: 5px;
    background-color:rgba(250, 158, 178, 0.808);
    color: #fff;
}
.new:hover{
    background-color: rgb(233, 38, 38);
}
.header_user{
	align-items: center;
	margin-left: 80px;
	justify-content: space-between;
	display: flex;
}
.user-name{
	margin-right: 20px;
	height: 70px;
}
.user-name p{
    color: rgb(255, 255, 255);
    font-size: large;

	margin-top: 25px;

}
#user_icon{
	margin-top: 6px;
}
#user_icon img {
    border-radius:50px;

}
#menus{
	width: fit-content;
	float: right;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: rgb(255, 255, 255);
    border: 2px ridge #fff;
	border-top: none;
	z-index: 1;
	margin-right: 15px;
	display: none;

}

#menus li{
 margin-bottom: 15px;
 margin-top: 10px;
 font-size: large;

}

.footer{
	width: 100%;
	bottom: 0;
	height: 5em;
	position: absolute;
	background-color: rgb(61, 38, 4);
}
.footer_memo{
	color: #fff;
	text-align: center;
	margin-top:30px ;
	font-size: small;
}
