h2{
	margin-top: 40px;
}
.caption {

	margin-left: 250px;
	padding: 20px 20px 6px 20px;
	background-color: #fff;
	border: 5px #faebd6 dashed;
	border-bottom: none;
	z-index: 1;
	letter-spacing: 1px;
	font-family: 'Hannotate TC',sans-serif;
}
.box{
	width: 63%;
	height: 100%;
	background-color: #fff;
	padding-top: 20px;
	margin: 0 0 0 250px;
	border: 5px #faebd6 dashed;

}

.room-register {
	border-collapse: separate;
    border-spacing: 30px 20px;
	padding: 30px;
	margin-left: 50px;
	margin-top: 10px;
	border-collapse:collapse
}
.room-register tr{
	border-bottom: 1px rgb(165, 133, 133) solid;
}
.room-register th{
	letter-spacing: 1px;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;

}
.room-register textarea{
	width: 600px;
	height: 100px;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size:15px;
}

.room-register input[type="file"]{
	margin-bottom: 15px;

}
.room-register input[type="number"]{
	width: 600px;
	height: 40px;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: medium;
}
.room-register input[type="text"]{
	width: 600px;
	height: 40px;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: medium;
}

.require{
	float: right;
	padding: 4px 5px 4px 4px;
	background-color: #F00;
	color: #fff;
	font-size: small;
	margin: 3px 60px 5px 3px;
	border-radius: 5px;
}
.room-submit {
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
}
#submit-btn {
	width: 120px;
	height: 40px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: large;
	letter-spacing: 1px;
	background-color: rgb(248, 184, 147);
	border-radius: 3px;
}
#submit-btn:hover{
	background-color:rgb(255, 166, 115);
}
#room-return{
	width: 120px;
	height: 40px;
	padding: 10px;
	font-family: "HiraKakuProN-W3";
	letter-spacing: 1px;
	text-decoration: none;
	color:rgb(83, 82, 82);
	background-color:#fdd3a5 ;
	border: 1px #000 solid;
	border-radius: 3px;
}
#room-return:hover{
	background-color: #f7b977;
}
